<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="KEYWords" contect="前端,React.js小书,教程,react,reactjs,node.js,JavaScript 库,webpack,ES6,express,构建用户界面,组件化,入门教程,redux,入门示例,demo,@IT·平头哥联盟,首席填坑官∙苏南,@IT·平头哥联盟-首席填坑官∙苏南">
  	<meta name="description" content="react redux 入门示例, NodeJS 版 react reactjs,redux,同构直出 示例,@IT·平头哥联盟,首席填坑官∙苏南">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<title>redux 入门示例</title>
		<link href="/react-redux/css/index.css" rel="stylesheet">
		<script>(window.__setFontSize__=function(){document.documentElement.style.fontSize = Math.min(640, Math.max(document.documentElement.clientWidth, 320)) / 320 * 14 + 'px'})()</script>
	</head>
	<body>
		<div id="app" style="height: 100%;"></div>
		<script type="text/javascript" src="/react-redux/js/vendors.js"></script>
		<script type="text/javascript" src="/react-redux/js/index.js"></script>
	</body>
</html>