
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: $browser-default-font-size-px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #383838;
  -webkit-font-smoothing: subpixel-antialiased;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote {
  margin:0;
}
// ul ol dl
ul,ol,li,dl,dd{
  margin: 0;
  padding:0;
}
ul,ol{
  list-style: none outside none;
}
img{
  max-width:100%;
}