@import "./variables";
@import "./func";


.ds-box{
    display:-webkit-flex;
    display:flex;
}

.hide{display:none;}
.fixed-btn{
  font-size: r(20);
  line-height: r(49);
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  background-color: #f66;
}
.cm-flex{
  -webkit-flex: 1;
  flex: 1;
}
h2,h3,h4,h5,h6{font-weight: normal;}

//重置弹窗操作按钮的风格样式
.ui-modal-footer{
      padding:0 r(5);
      @include borderTop($color:#edeeee);
}
.ui-modal-footer .ui-button {
  background-color:transparent ;
  border:0;
  font-size:r(17);
  @include color-96;
  &:active,&:hover{
    background-color:#d8d8d8 ;
    border-color:#d8d8d8 ;
  }
}
.ui-cell + .ui-cell:before{
    border-color:#edeeee;
}
.ui-modal-footer button + button{
  margin:0;
  @include borderLeft($color:#edeeee);
}
.ui-modal-footer .ui-button.theme-success{
  @include color-f6;
}
.ui-modal-header{
  border:0;
  @include borderBottom($color:#e6e6e6);
}
.ui-panel-body{
  border:none;
  padding-top:r(1);
  padding-bottom:r(1);
  @include border($left:0,$right:0,$color:#edeeee);
}
.ui-cell-explain{
  padding:0;
}
.empty-msg{
  text-align:center;padding:r(20) 0;
  background-color:#fefefe;
  @include borderBottom($color:#e6e6e6);
}
.ui-switch.checked{
    border: 1px solid #117d90;
    background-color: #117d90;
}